* {
  padding: 0px;
  margin: 0px;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}
.container {
  width: 100%;
  margin: auto;
  height: 800px;
  background: #1d1d1d;
  padding: 15px;
}
